@font-face {
  font-family: 'oceanicdrift';
  src: url('../fonts/oceanicdrift.ttf');
  font-display: swap; /* avoid showing invisible text while custom fonts load by temporarily showing a system font */
}

@font-face {
  font-family: 'NotoSansMono-CondensedSemiBold';
  src: url('../fonts/NotoSansMono-CondensedSemiBold.ttf');
  font-display: swap; /* avoid showing invisible text while custom fonts load by temporarily showing a system font */
}

body {
  background-image: url("../img/Razzamataz2.webp");
  font-family: 'NotoSansMono-CondensedSemiBold';
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.logo {
  position: relative;
  text-align: center;
  display: grid;
  grid-template-areas: "logo"
  "nav";
  margin: 0 auto;
  width: 100%;
}
.background1 {
  grid-area: logo;
}
.background1 img {
  width: 50%;
}
.baselogo {
  z-index: 1;
}
.logo1 {
  z-index: 2;
}
.navButton {
  grid-area: nav;
  position: relative;
  display: block;
  margin: 0 auto;
  width: 30%;
  background: gray;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-left-width: 6px;
  text-indent: 4px;
}
.navButton a:any-link{
  display: block; /* turn the entire link into a block */
  color: white;
  text-decoration: none; /* remove underline from link */
}

/* For mobile phones */
@media only screen and (hover: none) and (pointer: coarse){
  .background1 img {
    width: 100%;
  }
}

.gameControl {
  display: grid;
  grid-template-areas: "header header"
  "menu main"
  "menu submenu"
  "footer1 footer2"
  "footer3 footer4";
  margin: 0 auto;
  width: 30%;
}
#score {
  grid-area: header;
  font-family: 'oceanicdrift';
  font-size: 100px;
  color: white;
  text-align: center;
  margin: 0px;
}
.gameBtns {
  grid-area: menu;
  text-align: right;
  height: 600px;
  overflow-y: auto; /* make content scrollable */
  /* prevent layout to be shifted by content change */
  max-width: min-content;
  min-width: 100%;
}
.gameInfo {
  grid-area: main;
  border: 1px solid lightcyan;
  border-radius: 30px;
  /* border-corner-shape: bevel; */
  height: 300px;
  /* prevent layout to be shifted by content change */
  max-width: min-content;
  min-width: 100%;
}
.ppsInfo {
  grid-area: submenu;
  height: 300px;
  max-width: min-content;
  /* prevent layout to be shifted by content change */
  min-width: 100%;
}

/* For mobile phones */
@media only screen and (hover: none) and (pointer: coarse){
  .gameControl {
    width: 100%;
  }
  .gameBtns {
    height: 500px;
    width: 100%;
    overflow-x: hidden; /* prevent horizontal scrollbar on very small screens */
  }
  .gameInfo {
    height: 250px;
  }
  .ppsInfo {
    height: 250px;
  }
}

.clickButton {
  font-family: 'NotoSansMono-CondensedSemiBold';
  width: 100%;
  text-align: left;
  background: darkslategrey;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-left-width: 6px;
  border-color: lightcyan;
  /* make element unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

.upgradeButton {
  background: transparent;
  color: gray;
}

.btnInfo p {
  margin: 1px;
}
#btnName {
  font-size: 24px;
  color: #bf237c;
  text-align: center;
}
#btnUpgrade {
  font-size: 12px;
  color: #bf237c;
  text-align: center;
}
.btnCost {
  font-size: 24px;
  color: white;
}
#btnCostValue {
  font-size: 24px;
  color: #bf237c;
}
.btnPercent {
  font-size: 12px;
  color: gray
}
.ppsChange {
  font-size: 24px;
  color: white;
}
#ppsChangeValue {
  font-size: 24px;
  color:#bf237c;
}
.ppsPercent {
  font-size: 12px;
  color: gray;
}
#upgradeInfo {
  font-family: 'oceanicdrift';
  padding-top: 10px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.ppsInfo p {
  margin: 1px;
}
.pps {
  font-size: 24px;
  color: white;
}
#ppsValue {
  font-size: 24px;
  color:#bf237c;
}
.timeInfo {
  font-size: 12px;
  color: gray;
}
#scoreComment {
  font-size: 16px;
  width: 90%;
  color: cyan;
}
.minilogo {
  position: relative;
  text-align: center;
  margin-top: 1px;
}
.minibackground1 {
  position: absolute;
  width: 100%;
  height: 100%;
}
.minibackground1 img{
  width: inherit;
}
.minibaselogo {
  z-index: 1;
}
.minilogo1 {
  z-index: 2;
}

#music {
  grid-area: footer1;
  margin-top: 10px;
  text-align: left;
}
.backButton {
  grid-area: footer3;
  width: 50%;
  margin-top: 10px;
  margin-left: 0px;
}
.userName {
  grid-area: footer2;
  margin-top: 10px;
  text-align: right;
  color: lightcyan;
}
.setUserName {
  grid-area: footer4;
  margin-top: 10px;
  text-align: right;
}
.setUserName button {
  font-family: 'NotoSansMono-CondensedSemiBold';
  margin: 0 auto;
  color: white;
  background: gray;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-left-width: 6px;
  text-indent: 4px;
}
.setUserName input {
  font-family: 'NotoSansMono-CondensedSemiBold';
}